<h1 id="url_header">MINI URL Maker</h1>
<div class="container">
  <form class="cf" #urlGeneratorForm="ngForm" (ngSubmit)="onURLGeneratorSubmit()">
    <div class="half right cf">
    <textarea name="message" type="text" id="input-message"
              placeHolder="Write or Paste long URL here"
              [(ngModel)]="longURL" name="longURL"></textarea>
    </div>
    <input type="submit" value="Generate" id="input-submit">
    <div class="loader" *ngIf="isGeneratingURL"></div>
    <h1 *ngIf="isShortURLAvailable && !isGeneratingURL" id="generated-url">{{shortURL}}</h1>
  </form>
</div>





